.app {
  padding: 1rem;
}

.app__list {
  list-style: none;
  padding: 0;
}

.app__listDraggable {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(11rem, 1fr));
  gap: 1.4rem;
}

.app__page {
  display: block;
  position: relative;
}
