.app {
  padding: 1rem;
}

.app__list {
  list-style: none;
}

.app__listDraggable {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(11rem, 1fr));
  gap: 0.5rem;
}

.app__page {
  display: block;
  margin: 0  1rem 1rem 0;
}
